<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>twoWayBind</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ text }}</h1>
      <input type="text" v-model="text" />
      <br />
      <br />
      <br />
      <h1>{{ message.text }}</h1>
      <input type="text" v-model="message.text" />
    </div>
    <script src="./js/vue.js"></script>
    <script>
      const { ref, reactive } = Vue;
      const App = {
        setup() {
          const text = ref("Hello Vue");
          const message = reactive({ text: "Sam" });
          return { text, message };
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
