<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO</title>
    <link rel="stylesheet" href="./css/19-todo.css" />
  </head>
  <body>
    <div id="app">
      <div class="wait">
        <ul>
          <li v-for="(item, idx) in todoWait.content" :key="item.url" @click="handleClick(item, idx)">
            <img :src="item.url" alt="" />
          </li>
        </ul>
      </div>
      <div class="carried">
        <ul>
          <li v-for="(item, idx) in todoOver.content" :key="item.url" @click="resetClick(item, idx)">
            <img :src="item.url" alt="" />
          </li>
        </ul>
      </div>
      <div :class="['winPage', {open: isWin}]">
        <h1>闖關成功</h1>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <script>
      const { reactive, onMounted, watch, ref } = Vue;

      const app = {
        setup() {
          // 拿來放初始化的拼圖
          const todoWait = reactive({ content: [] });

          // 拿來放移動過去的拼圖
          const todoOver = reactive({ content: [] });

          const winIdx = ref(0);
          const isWin = ref(false);

          watch(() => todoOver.content, (newArr) => {
              winIdx.value = 0;
              newArr.forEach((item, idx) => {
                if (item.idx === idx) {
                  winIdx.value++;
                }
              })
            },
            { deep: true }
          )
          
          watch(winIdx, (newVal) => {
            if (newVal === 9) {
              console.log("WIN");
              isWin.value = true;
            }
          })
          const handleClick = (item, idx) => {
            todoOver.content.push(item);
            todoWait.content.splice(idx, 1)
          }

          const resetClick = (item, idx) => {
            todoWait.content.push(item);
            todoOver.content.splice(idx, 1)
          }

          onMounted(() => {
            axios.get('./api/puzzle.json')
              .then((res) => {
                todoWait.content = res.data;
              })
          })
          
          return {
            todoWait, 
            todoOver,
            handleClick, 
            resetClick,
            isWin
          };
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
